@import url('https://fonts.googleapis.com/css?family=Raleway%27');
/* ------------------------------
GENERAL
---------------------------------*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #6c7a87;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
}
p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  /*! line-height: 1.8; */
  font-size: 17px;
}
span.cat {
  font-size: 18px;
  padding-left: 10px;
  font-weight: bold;
}
a,
button {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
strong {
  font-weight: 600;
}
.btn {
  white-space: normal;
  line-height: 1.2;
  padding-top: 15px;
  padding-bottom: 15px;
}
 /* ==========================================================================

HEADER

==========================================================================*/
#main-header {
  background: linear-gradient(rgb(250, 183, 144), white);
  height: 75px;
}
/*Brand elements*/
.brand-wrapper {
  width: 250px;
  height: 75px;
  padding-left: 30px;
  transition: all 0.25s ease;
}
.brand-wrapper img {
  max-width: 70px;
}
.brand-wrapper span {
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
/*Main menu trigger, help buttons and Search bar*/
.header-nav-wrapper {
  width: calc(100% - 500px);
  padding-right: 10px;
  margin: 0 auto;
}
.header-nav-wrapper ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header-nav-wrapper ul li {
  border-left: solid 1px #eaeaea;
  height: 75px;
  line-height: 75px;
  padding: 0px 20px;
  width: 70px;
  text-align: center;
}
.header-nav-wrapper ul li p {
  height: auto;
  line-height: 150%;
  font-size: 15px;
}
.header-nav-wrapper ul li a,
.header-nav-wrapper ul li button {
  background: transparent;
  border: 0;
  font-size: 20px;
  color: black;
  position: relative;
}

.header-nav-wrapper .dropdown-menu {
  width: 350px;
}
.header-nav-wrapper .dropdown-menu img {
  height: 50px;
}

.no-caret:after {
  display: none;
}
a em {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  opacity: 0.65;
  right: -5px;
  top: -5px;
  border-radius: 50%;
}
.em-green {
  background-color: #39fe00;
}
.em-red {
  background-color: red;
}
a[href^="https"]::before {
  content: "🔗 ";
}

/*============== SEARCH BAR ANIME =============*/

.fa-search{
  margin-left: 50px;
}

input[type=text] {
  width: 200px;
  height: 40px;
  margin-left: 30px;
  box-sizing: border-box;
  border: 2px solid rgb(201, 150, 150);
  border-radius: 8px;
  font-size: 16px;
  background-color: white;
  background-image: url('../img/search.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}  
  
input[type=text]:focus {
  width: 130%;
}
/*===========  END SEARCH BAR ANIME =============*/

/*User*/
.user-wrapper {
  width: 250px;
  padding-right: 30px;
}
.user-wrapper img {
  height: 50px;
  margin-right: 10px;
}
.user-wrapper span {
  line-height: 140%;
  font-size: 15px;
}
.user-wrapper button {
  display: block;
  background: transparent;
  border: 0;
  white-space: normal;
  word-wrap: break-word;
  padding: 0;
  text-align: left;
  height: 75px;
}
.dropdown-menu {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
  border: 1px solid rgba(182, 182, 182, 0.3);
  font-weight: 300;
  border-radius: 3px;
}
.dropdown-menu a {
  font-size: 15px !important;
  font-weight: 300;
  line-height: 150%;
  white-space: normal;
}
.dropdown-menu .badge {
  font-size: 12px;
}

#main-content {
  background: #f3f6fd;
  min-height: 100%;
  margin-top: 75px;
  padding: 0;
}

#main-panel {
  transition: all 0.25s ease;
  min-height: calc(100vh - 75px);
}

/* ------------------------------
MENU
---------------------------------*/
#navbar {
  background-image: linear-gradient(to left, rgb(250, 183, 144), white);;
  min-height: calc(100vh - 75px);
  transition: all 0.25s ease;
  position:relative;
  animation: animate-width 1.2s 1 ease-in-out;
}
#navbar ul{
  list-style-type:none;
  margin:0;
  padding:0 20px;
  margin-top:20px;
  position: sticky;
  top: 0;
}

#navbar ul li{
margin-bottom:20px;
font-size:15px;
}

#navbar ul li a{
color:#606060;
font-size:14px;
text-decoration: none;
}

#navbar ul li i{
 font-size:17px;
  color:black;
  margin-right:8px;
}
/*Class utilisé pour le JS, determine la largeur et l'opacité de la side nav quand elle est fermé */
.hide-navbar {
  width:0;
  opacity:0;
}

.show-navbar {
  width: 250px;
  opacity:1;
}


.hidden-navbar-content {
  width: 100vw;
}
.opened-navbar-content {
  width: calc(100vw - 250px);
}

.hidden-navbar-header {
}
.hidden-navbar-header .brand-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  width: 90px;
  display: block;
}

.hidden-navbar-header .brand-wrapper span {
  display: none;
}

.hidden-navbar-header .header-nav-wrapper {
  width: calc(100% - 200px);
}

.opened-navbar-header {
}


@media (max-width: 980px) {
.brand-wrapper {
   padding-left: 10px;
  padding-right: 10px;
  width: 90px;
}
.brand-wrapper span {
  display: none;
}
  
  /*Main menu trigger, help buttons and Search bar*/
.header-nav-wrapper {
  width: calc(100vw + 1200px);
  padding-right: 10px;
}
.user-wrapper .dropdown-toggle span {
    display: none;
  }
.hide-navbar {
  width: 0px !important;
}
.hide-navbar ul li a span {
  display: block;
}
.hidden-navbar-header .header-nav-wrapper {
  width: calc(100% + 1200px);
}
}

@media (max-width: 580px) {
  .headernav-wrapper {
  width: 100px;
  padding-right: 10px;
} 
#header-search-bar {
    margin-left: 0;
    width: 140px;
}
  
.hidden-navbar-header .brand-wrapper, .opened-navbar-header .brand-wrapper {
  width: 90px;
}
}
// Animate the size, outside
.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  border-radius: 20%;
  box-shadow: 0 0 0 2em rgba(yellow,0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

@keyframes animate-width {
    0%, 40% {
      width: 0px;
    }
    100% {
      width: 265px;
    }
  }

// Size can also be negative; see how it's smaller than the element
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

// Animating from the bottom
.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

$colors: (
  pulse: #ef6eae, 
  raise: #ffa260, 
 
);

// Sass variables compile to a static string; CSS variables are dynamic and inherited
  // Loop through the map and set CSS custom properties using Sass variables
@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}


// MAIN CONTENT////////////////////////////////////////////////////////////////

/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 77). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

.heading-effect {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  background-image: linear-gradient(to bottom, rgb(250, 183, 144), #8798ad);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;
  text-align: center;
  margin: 20px 0;

  // @include respond(980px) {
  //     font-size: 3rem;
  // }

  // @include respond(580px) {
  //     font-size: 2.5rem;
  // }

  &:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: .5rem 1rem 2rem rgba(#333, .2);
  }
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
	/* Base font size */
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #fafafa;
}

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}





.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}

// PAGE COMMENTAIRES//////////////////////////////////////////////////////////////
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin: 0 20%;
  
  &:hover {
    box-shadow: 0 8px 16px 0 rgb(250, 183, 144);
  }
  /* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
  width: 10%;
}
/* Add some padding inside the card container */
.container-card {
  padding: 2px 16px;
}

// SECTION COMMENTAIRES//////////////////////////////////////////////////

.date {
  font-size: 11px
}

.comment-text {
  font-size: 12px
}

.fs-12 {
  font-size: 12px
}

.shadow-none {
  box-shadow: none
}

.name {
  color: #007bff
}

.cursor:hover {
  color: blue;
}

.cursor {
  cursor: pointer
}

.textarea {
  resize: none
}
}

