<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>PicɔiN - Cool images to use everywhere</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css'><link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- ==========================================================================

HEADER

==========================================================================-->
<header id="main-header" class="fixed-top d-flex flex-row opened-navbar-header">
  <!--Brand elements-->
  <div class="brand-wrapper  d-flex align-items-center">
    <a href="/"><img src="{{ url_for('static', filename='pinic.gif') }}" alt="logo-entête" class="img-fluid"></a>
  </div>
  <!--Main menu trigger, help buttons and Search bar-->
  <div class="header-nav-wrapper d-flex d-flex align-items-center">

    <ul class="d-flex align-items-center">
      <li><button id="navbar-trigger"><i class="fas fa-bars"></i></button></li>

      <li class="dropdown d-none d-md-block d-lg-block d-xl-block" class=" dropdown-toggle no-caret " data-toggle="dropdown"><a href=""><i class="fas fa-bell"></i><em class="em-green"></em></a>

        <div class="dropdown-menu">

          <p class="d-flex align-items-center justify-content-center p-3 border-bottom mb-0 text-center"><strong>5 notifications</strong> <a href="#" class="ml-4"> <span class="badge badge-primary  badge-pill p-2">See All</span></a></p>

          <a class="dropdown-item border-bottom d-flex align-items-center pt-3 pb-3" href="#">
        
        
            <img src="https://i.ibb.co/vVQHKr9/borrar.jpg" alt="borrar" class="rounded-circle mr-3 d-block"/>
        
              <p class="mb-0"> <span class="d-block"><strong>Marine Lefebvre</strong></span>
         Lorem ipsum dolor sit amet cons</p>
        
                </a>
          <a class="dropdown-item d-flex justify-items-center pt-3 pb-3 border-bottom" href="#">
        
        
            <img src="https://i.ibb.co/vVQHKr9/borrar.jpg" alt="borrar" class="rounded-circle mr-3 d-block"/>
        
              <p class="mb-0"> <span class="d-block"><strong>Sergio Arboleda</strong></span>
         Lorem ipsum dolor sit amet cons</p></a>

          <a class="dropdown-item d-flex justify-items-center pt-3 pb-3" href="#">
        
        
            <img src="https://i.ibb.co/vVQHKr9/borrar.jpg" alt="borrar" class="rounded-circle mr-3 d-block"/>
        
                 <p class="mb-0"> <span class="d-block"><strong>Mariana Sánchez</strong> <span class="badge badge-success ml-2"> Tutor</span></span>
         Lorem ipsum dolor</p>
        
                </a>
        </div>

      </li>

      <li class=" d-none d-md-block d-lg-block d-xl-block"><a href="/upload_page" target="_blank"><i class="fas fa-upload"></i></a>

      </li>

      <li class=" d-none d-md-block d-lg-block d-xl-block"><a href="#"><i class="fas fa-search"></i></a>

      </li>

    </ul>

    <!--Search bar-->

    <!-- Search Bar Animé -->
      
      <form>
        <input type="text" name="search" placeholder="Search..">
      </form>
      

    <!-- Search Bar Animé -->
    
  </div>
  <!--User-->
  <div class="user-wrapper d-flex align-items-center">

    <button type="button" class="dropdown-toggle d-flex align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="https://i.ibb.co/vVQHKr9/borrar.jpg" alt="avatar" class="rounded-circle" />
      <span class="d-none d-lg-block d-xl-block">Andrés Felipe Martínez Castro</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right dropdown">
      <a class="dropdown-item" type="button">Profile</a>
      <a class="dropdown-item" type="button">Notifications <span class="badge badge-success ml-2">5</span> </a>
      <a class="dropdown-item" type="button">Disconnection</a>
    </div>

  </div>
</header>
  <!-- ==========================================================================

MAIN CONTENT

==========================================================================-->
<div id="main-content" class="d-flex">

  <!-----------------------------------
MENU
----------------------------------->
<nav id="navbar" class="show-navbar">

  <ul>
    
    <li> <a href="/" class="pulse"><img src="https://media.giphy.com/media/FpKixMu71s8mi6SSLE/giphy.gif" alt="Avatar" class="avatar"><span class="cat">Hot</span></a></li>
    <li> <a href="/" class="pulse"><img src="https://media.giphy.com/media/WOfxkQGhBYwEv0IrHs/giphy.gif" alt="Avatar" class="avatar"><span class="cat">Trending</span></a></li>
    <li> <a href="{{ url_for('show_pic', path=Animals) }}" class="pulse"><img src="https://media.giphy.com/media/YPY6df50NaYve/giphy.gif"      alt="Avatar" class="avatar"><span class="cat">Animals</span></a></li>
    <li> <a href="{{ url_for('show_pic', path='Auto') }}" class="pulse"><img src="https://media.giphy.com/media/3ohs7K8l2xVqyHwfGE/giphy.gif" alt="Avatar" class="avatar"><span class="cat">Auto</span></a></li>
    <li> <a href="{{ url_for('show_pic', path='Cinema') }}" class="pulse"><img src="https://media.giphy.com/media/UGcvSDgGsKFby/giphy.gif"      alt="Avatar" class="avatar"><span class="cat">Cinema</span></a></li>
    <li> <a href="{{ url_for('show_pic', path='Conspiracy') }}" class="pulse"><img src="https://media.giphy.com/media/LX3Q9vcjwhKYE/giphy.gif"      alt="Avatar" class="avatar"><span class="cat">Conspiracy</span></a></li>
    <li> <a href="{{ url_for('show_pic', path='Fashion') }}" class="pulse"><img src="https://media.giphy.com/media/3o6ZtkHCYNgpWLyROM/giphy.gif" alt="Avatar" class="avatar"><span class="cat">Fashion</span></a></li>
    <li> <a href="{{ url_for('show_pic', path='Funny') }}" class="pulse"><img src="https://media.giphy.com/media/804TNmnYLfNao/giphy.gif"      alt="Avatar" class="avatar"><span class="cat">Funny</span></a></li>
    <li> <a href="{{ url_for('show_pic', path='Food') }}" class="pulse"><img src="https://media.giphy.com/media/pjhdUQMV4ZRumCd1nH/giphy.gif" alt="Avatar" class="avatar"><span class="cat">Food</span></a></li>
    <li> <a href="{{ url_for('show_pic', path='Music') }}" class="pulse"><img src="https://media.giphy.com/media/wsLoMTYhovY567WydB/giphy.gif" alt="Avatar" class="avatar"><span class="cat">Music</span></a></li>
    <li> <a href="{{ url_for('show_pic', path='NSFW') }}" class="pulse"><img src="https://media.giphy.com/media/7i8OXsarmJqXFClWey/giphy.gif" alt="Avatar" class="avatar"><span class="cat">NSFW</span></a></li>
    <li> <a href="{{ url_for('show_pic', path='Politics') }}" class="pulse"><img src="https://media.giphy.com/media/3o6Zt3T1DrAdQpGJGw/giphy.gif" alt="Avatar" class="avatar"><span class="cat">Politics</span></a></li>
    <li> <a href="{{ url_for('show_pic', path='Technology') }}" class="pulse"><img src="https://media.giphy.com/media/20NLMBm0BkUOwNljwv/giphy.gif" alt="Avatar" class="avatar"><span class="cat">Technology</span></a></li>
    <li> <a href="{{ url_for('show_pic', path='Games') }}" class="pulse"><img src="https://media.giphy.com/media/fXncjSnU8BoYvqHulh/giphy.gif" alt="Avatar" class="avatar"><span class="cat">Games</span></a></li>
    <li> <a href="{{ url_for('show_pic', path='Sports') }}" class="pulse"><img src="https://media.giphy.com/media/WvuTFk2IN7jxoLVDkP/giphy.gif" alt="Avatar" class="avatar"><span class="cat">Sport</span></a></li>
    <li><footer>&copy; 2021 Picnic. All rights reserved.</footer></li>
  </ul>
</nav>

  <!-----------------------------------
CONTENT
----------------------------------->


<div class="container">

  <h1 class="heading heading-effect">{% block title %} {{ title }} {% endblock %}</h1>

  <div class="gallery">
    {% for picture in all_pictures %}
    <div class="gallery-item">
    <a href="{{ url_for('show_pic', path=picture) }}"><img class="gallery-image" src="{{ config['UPLOAD_FOLDER'] }}/{{ picture[0] }}"></a>
    </div>
    {% endfor %}
  </div>
  {% if show_comment %}
  {% for picture in all_pictures %}
    <div class="gallery-item">
    <a href="{{ url_for('show_pic', path=picture) }}"><img class="gallery-image" src="{{ config['UPLOAD_FOLDER'] }}/{{ picture[0] }}" style="width: 50%"></a>
    </div>
    {% endfor %}
    <div class="container mt-5">
      <div class="d-flex justify-content-center row">
          <div class="col-md-8">
              <div class="d-flex flex-column comment-section" id="myGroup">
                  <div class="bg-white p-2">
                      <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="10">
                          <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">Marry Andrews</span><span class="date text-black-50">Shared publicly - Jan 2020</span></div>
                      </div>
                      <div class="mt-2">
                          <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      </div>
                  </div>
                  <div class="bg-white p-2">
                      <div class="d-flex flex-row fs-12">
                          <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                          <div class="like p-2 cursor action-collapse" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-1" href="#collapse-1"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                          <div class="like p-2 cursor action-collapse" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-2" href="#collapse-2"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                      </div>
                  </div>
                  <form action="post_comment" method="post">
                    <div id="collapse-1" class="bg-light p-2 collapse" data-parent="#myGroup">
                      <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40"><input type="text" id="comment" name="comment" required></div>
                      <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
                  </div>
                  </form>
    {% endif %}


</div>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script><script  src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
