<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  </head>
    <body>
      <h1>Mes IMAGES</h1>
      {% for picture in all_pictures %}
        <img src="{{ config['UPLOAD_FOLDER'] }}/{{ picture[0] }}" width=500 length=500>
        {% endfor %}
    <h1>File Upload</h1>
    <form method=post enctype="multipart/form-data">
      <div class="form-example">
        <label for="name">Titre de post: </label>
        <input type="text" name="title" id="title" required>
      </div>
      <select name="categories" id="categories">
        <option value="">--Please choose an option--</option>
        <option value="Funny">Funny</option>
        <option value="NSFW">NSFW</option>
        <option value="Anime & manga">Anime & manga</option>
        <option value="Cars">Cars</option>
        <option value="Gaming">Gaming</option>
        <option value="GIF">GIF</option>
        <option value="Meme">Meme</option>
      </select>
      <p><input type="file" name="file"></p>
      <p><input type=submit value="Submit"></p>


    
    </form>
  </body>
</html>
