<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Upload your image</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css'>
<link rel='styleshe.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin: 0 20%;et' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css'><link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
<body>
<!-- partial:index.partial.html -->
<h1>UPLOAD  FILES</h1>


<div class="container">
  <form method=post action='/upload' enctype="multipart/form-data">
    <div class="form-example">
      <div class="input-group shadow">
        <span class="input-group-text px-3 text-muted"><i class="fas fa-image fa-lg"></i></span>
        <input type="text" name="title" id="title" class="form-control form-control-lg" placeholder="Post Title" maxlength="50">
    </div>
    </div>
    <select name="categories" id="categories">
      <option value="">--Please choose an option--</option>
      <option value="Funny">Funny</option>
      <option value="NSFW">NSFW</option>
      <option value="Anime & manga">Anime & manga</option>
      <option value="Cars">Cars</option>
      <option value="Gaming">Gaming</option>
      <option value="GIF">GIF</option>
      <option value="Meme">Meme</option>
    </select>
    <p><input type="file" name="file"></p>
    <p><input type=submit value="Submit"></p>


  
  </form>
  
  
</div>
<!-- partial -->
  <script src='https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js'></script>
</body>
</html>
